<form novalidate="novalidate" class="form-horizontal">
    <h3>Main Details</h3>
    <div class="col-lg-6">
        <div class="form-group">
            <label for="offerId" class="control-label"><b>Offer ID:</b></label>
            <input type="text" auto-complete items="offerIds" id="offerId" required="required" ng-model="commercial.offerId" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="mediaSource" class="control-label">Media Source (Optional):</label>
            <input type="text" auto-complete items="mediaSources" ng-model="commercial.mediaSource" id="mediaSource" class="form-control">
        </div>
        <div class="form-group">
            <label for="dateStart" class="control-label"><b>Start Date (inclusive): </b></label>
            <input type="date" id="dateStart" required="required" ng-model="commercial.dateStart" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="dateEnd" class="control-label"><b>End Date (exclusive): </b></label>
            <input type="date" id="dateEnd" required="required" ng-model="commercial.dateEnd" class="form-control"/>
        </div>
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input type="checkbox" class="checkbox" id="isActive" ng-model="commercial.isActive"/> Is Active?
                </label>
            </div>
        </div>
        <div class="form-group">
            <label for="type" class="control-label">Type</label>
            <select class="form-control" id="type" ng-model="commercial.type">
                <option value="REVENUE">Revenue (we're getting paid)</option>
                <option value="PAYOUT">Payout (we pay)</option>
            </select>
        </div>
        <div class="form-group">
            <label for="eventType" class="control-label">Event Type</label>
            <select class="form-control" id="eventType" ng-model="commercial.eventType">
                <option value="INSTALL">Install</option>
                <option value="FIRST_DEPOSIT">First Deposit</option>
                <option value="RETENTION_DEPOSIT">Retention Deposit</option>
                <option value="SIGN_UP">Sign Up</option>
            </select>
        </div>
        <div class="form-group">
            <label for="amount" class="control-label">Payout/Revenue Amount</label>
            <input id="amount" type="number" ng-model="commercial.amount" class="form-control" required>
        </div>
    </div>
    <div class="col-lg-12">
        <h3>Conditions:</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Field Name</th>
                    <th>Field Value</th>
                    <th>Operator</th>
                    <th>Is Inverse</th>
                    <th>
                        <button class="btn btn-default" ng-click="addCondition()">Add</button>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="condition in commercial.conditions" ng-hide="commercial.conditions.empty">
                    <td>
                        <input type="text" ng-model="condition.fieldName" auto-complete items="fieldNameList" class="form-control" required="true"/>
                    </td>
                    <td>
                        <input ng-model="condition.fieldValue" auto-complete items="{{fieldValues[condition.fieldName]}}" placeholder="Field Value" class="form-control" required>
                    </td>
                    <td>
                        <select ng-model="condition.operator" class="form-control" required>
                            <option value="IN_LIST">In List</option>
                            <option value="EQUALS">Equals</option>
                        </select>
                    </td>
                    <td>
                        <label>
                            <input type="checkbox" class="checkbox" id="isInverse" ng-model="condition.isInverse"/>
                        </label>
                    </td>
                    <td>
                        <button class="btn btn-default" ng-click="deleteCondition(condition)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="form-group">
            <button type="submit" class="btn btn-default" ng-click="submit()">Submit</button>
        </div>
    </div>


</form>